body {
  background-color: #eee;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
}

td {
  border-bottom: 1px solid #cccccc;
}

.title {
  font-family: "Meddon", cursive;
}

.correct {
  color: blue;
}

.incorrect {
  color: red;
}

.header-cells {
  text-align: left;
}

.content {
  width: 900px;
  margin: 0 auto;
}

.hide {
  display: none;
}
