body {
    background-color: #eee;
}

.title {
    font-family: 'Meddon', cursive;
}

.correct {
    color: blue;
}

.incorrect {
    color: red;
}

.header-cells {
    text-align: left;
}

/* .content-wrapper {
    text-align: center;
} */

.content {
    /* display: inline-b lock; */
    width: 1000px;
    margin: 0 auto; 
} 